includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    paths:
        - src

    # The level 9 is the highest level
    level: 9
